<div class="row">
<aside class="col-md-4">
  <section class="post_form">
    <%= render 'shared/post_form' %>
  </section>
</aside>
</div>
<div class="row">
<aside class="col-md-4">
  <section class="search">
    <%= render 'shared/search' %>
  </section>
</aside>
</div>

<h1>ポエムリスト</h1>
<%= render 'posts/post' %>